
	html,body{height: 100%;}
	body{font-family: 'STFangsong','fangsong';margin:0;padding:0;}
	
	#hitokoto_text{
		font-size: 28px;
		color: #444c56;
		margin-top: 6%;
	}

	#hitokoto_from{
		font-size: 24px;
		color: #ccc;
	}

	.center{      
		/* 纸张效果 */  
		padding: 0 0 1px 0;
        background:#fff;
        background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
        background: -webkit-linear-gradient(0 0 270deg, #fff, #fff 10%, #f3f3f3);
        background: -moz-linear-gradient(0 0 270deg, #fff, #fff 10%, #f3f3f3);
        background: -o-linear-gradient(0 0 270deg, #fff, #fff 10%, #f3f3f3);
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        -webkit-border-radius: 60px 60px 60px 0 / 5px 5px 60px 0;
        border-radius: 60px 60px 60px 0 / 5px 5px 60px 0;
        border-radius: 60px 60px 60px 0 / 5px 5px 60px 0;
        -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3) ;
        -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3) ;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3) ;

		min-width: 50%;
        max-width: 60%;
		/* height: 50%; */
		text-align: center;
		position: relative;
		top: 28%;
		margin: auto;
		text-align: center;
    }
	/* 纸张效果 */  
    .center:before{
		content:'';
        width: 25px;
        height: 20px;
        position: absolute;
        bottom:0;
        right:0;
        -webkit-border-radius: 0 0 30px 0;
        -moz-border-radius: 0 0 30px 0;
        border-radius: 0 0 30px 0;
        -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
        -webkit-transform:  rotate(-20deg) skew(-40deg,-3deg) translate(-13px,-13px);
        -moz-transform: rotate(-20deg) skew(-40deg,-3deg) translate(-13px,-13px);
        -o-transform: rotate(-20deg) skew(-40deg,-3deg) translate(-13px,-13px);
        transform:  rotate(-20deg) skew(-40deg,-3deg) translate(-13px,-13px);
      }

      .center:after{
		content: '';
        z-index: -10;
        width: 100px;
        height: 100px;
        position:absolute;
        bottom:0;
        right:0;
        background: rgba(0, 0, 0, 0.2);
        display: inline-block;
        -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
        -webkit-transform: rotate(0deg) translate(-45px,-20px) skew(20deg);
        -moz-transform: rotate(0deg) translate(-45px,-20px) skew(20deg);
        -o-transform: rotate(0deg) translate(-45px,-20px) skew(20deg);
        transform: rotate(0deg) translate(-45px,-20px) skew(20deg);
      }
      .center .cornerLf{
		width: 100px;
        height: 100px;
        top:0; left:0;
        position:absolute;
        z-index:-6;
        display: inline-block;
        -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
        box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.2);
        -webkit-transform: rotate(2deg) translate(20px,25px) skew(20deg);
        -moz-transform: rotate(2deg) translate(20px,20px) skew(20deg);
        -o-transform: rotate(2deg) translate(20px,20px) skew(20deg);
        transform: rotate(2deg) translate(20px,20px) skew(20deg);
      }
      .center .cornerRt{
		content: '';
        width: 50px;
        height: 50px;
        top:0; right:0;
        position:absolute;
        display: inline-block;
        z-index:-6;
        -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 10px -10px 18px rgba(0, 0, 0, 0.2);
        box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
        -webkit-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
        -moz-transform: rotate(2deg) translate(-14px,15px) skew(-20deg);
        -o-transform: rotate(2deg) translate(-14px,15px) skew(-20deg);
        transform: rotate(2deg) translate(-14px,15px) skew(-20deg);
      }